/*==================== VARIABLES CSS ====================*/
:root {
    /*========== COLORS ==========*/
    --white-color: white;
    --bgColorMenu: #1d1d27;
    --duration: .7s;

    /*========== Z INDEX ==========*/
    --z-fixed: 100;
}

/*==================== BASE ====================*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* --------------------  -------------------- */
/*====================  ====================*/
/*====================  ====================*/
/*====================  ====================*/